<div class="bmd-layout-container bmd-drawer-f-l bmd-drawer-overlay">
  <header class="bmd-layout-header">
    <div class="navbar navbar-light bg-faded">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="drawer"
        data-target="#dw-s2"
        style="border: 0px solid black"
      >
        <span class="sr-only">Toggle drawer</span>
        <i class="material-icons">menu</i>
      </button>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="/signout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </header>
  <div id="dw-s2" class="bmd-layout-drawer bg-dark text-light">
    <div class="d-flex justify-content-center">
      <header>
        <a class="navbar-brand">MNK RateMe</a>
      </header>
    </div>

    <div class="d-flex justify-content-center">
      <img
        src="https://via.placeholder.com/100"
        alt="DisplayImage"
        class="rounded-circle img-thumbnail"
      />
    </div>
    <br />
    <div class="d-flex justify-content-center">
      <h5><%= user.username %></h5>
    </div>

    <ul class="list-group nav-item">
      <a class="list-group-item nav-link bg-light text-dark" href="/">Home</a>
      <a class="list-group-item nav-link bg-light text-dark" href="/"
        >Companies</a
      >
      <a class="list-group-item nav-link bg-light text-dark" href="/">Rating</a>
    </ul>
  </div>
  <main class="bmd-layout-c" style="height: 100%">
    <div class="container">
      <br />
      <%- body -%>
    </div>
  </main>
</div>
