<% layout("layout") -%>
<div class="header mx-auto text-center mb-4">
  <h1 class="display-4">MNK Rate Me</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus
    reiciendis saepe quam, eveniet explicabo rerum natus suscipit dicta fuga
    nobis eaque quod tenetur quibusdam minima voluptatem ea. Aspernatur
    praesentium nostrum eius repudiandae minus numquam reprehenderit quisquam
    consequuntur. Animi sapiente, officiis similique, ea nisi rem expedita modi,
    mollitia fuga facere nobis?
  </p>
</div>
<hr />
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card box-shadow">
      <div class="card-header text-center">
        <h1>Home</h1>
      </div>
      <div class="card-body">
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at
          inventore quibusdam, minus nisi repellendus sequi aut enim accusantium
          voluptate?
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h1>Home</h1>
      </div>
      <div class="card-body">
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at
          inventore quibusdam, minus nisi repellendus sequi aut enim accusantium
          voluptate?
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="card">
      <div class="card-header text-center">
        <h1>Home</h1>
      </div>
      <div class="card-body">
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at
          inventore quibusdam, minus nisi repellendus sequi aut enim accusantium
          voluptate?
        </p>
      </div>
    </div>
  </div>
</div>
